* {
    /* color: white; */
    /* font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(75, 173, 206);
}

button:hover {
    cursor: pointer;
}

.con1 {
    height: 70px;
    width: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input {
    height: 30px;
    padding-left: 10px;
    border: 1px solid rgb(147, 133, 133);
    border-radius: 3px;
}

#add {
    height: 30px;
    width: 55px;
    margin-left: 20px;
    color: wheat;
    background-color: blue;
    border: 0px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
}

.con2 {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* padding: 10px; */
    gap: 2px;
}

.con2 div {
    display: flex;
    margin: 0px 10px;
    min-height: 40px;
    border-bottom: 2px slategray;
}

.con2 div .taskcon p {
    padding: 10px 10px;
    word-break: break-all;
}

.con2 div .taskcon {
    flex: 1;
}

.con2 div .buttoncon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.con2 button {
    border: 0px;
    color: black;
    aspect-ratio: 1;
    height: 30px;
    background-color: white;
}